/*ANIMATED ELEMENTS*/

.animate {
  max-width: 100%;
  img {
    max-width: 100%;
  }
}

/*-------------------- Tablet & Desktop version --------------------*/
@include media-query(lap-and-up) {
  @include keyframes(spaceboots) {
    0% {
      @include vendor(transform, translate(2px, 1px) rotate(0deg));
    }
    10% {
      @include vendor(transform, translate(-1px, -2px) rotate(-1deg));
    }
    20% {
      @include vendor(transform, translate(-3px, 0px) rotate(1deg));
    }
    30% {
      @include vendor(transform, translate(0px, 2px) rotate(0deg));
    }
    40% {
      @include vendor(transform, translate(1px, -1px) rotate(1deg));
    }
    50% {
      @include vendor(transform, translate(-1px, 2px) rotate(-1deg));
    }
    60% {
      @include vendor(transform, translate(-3px, 1px) rotate(0deg));
    }
    70% {
      @include vendor(transform, translate(2px, 1px) rotate(-1deg));
    }
    80% {
      @include vendor(transform, translate(-1px, -1px) rotate(1deg));
    }
    90% {
      @include vendor(transform, translate(2px, 2px) rotate(0deg));
    }
    100% {
      @include vendor(transform, translate(1px, -2px) rotate(-1deg));
    }
  }
  .hover-on .done.shake:hover {
    @include vendor(animation, spaceboots 0.8s linear infinite);
    -webkit-transform-origin: 50% 50%;
  }
  .hover-on #animate-el-1 {
    &.done:hover {
      @include vendor(transform, rotate(360deg));
    }
  }
  %animation-finish {
    @include vendor(transform, translate(0, 0));
  }
  .animate {
    li {
      float: left;
      -webkit-transition: -webkit-transform 2s, opacity 2s;
      -moz-transition: -moz-transform 2s, opacity 2s;
      -ms-transition: -ms-transform 2s, opacity 2s;
      -o-transition: -o-transform 2s, opacity 2s;
      transition: transform 2s, opacity 2s;
      padding-right: 5%;

    }
  }
  #animate-el-1 {
    margin-top: 5%;
    margin-left: 6%;
    max-width: 18%;
    opacity: 0;
    &.done {
      opacity: 1;
    }
  }

  #animate-el-2 {
    clear: right;
    max-width: 25%;
    @include vendor(transform, translate(-50px, 0));
    &.done {
      @extend %animation-finish;
    }
  }
  #animate-el-3 {
    position: relative;
    margin-top: -20%;
    max-width: 45%;
    @include vendor(transform, translate(0, -100px));
    &.done {
      @extend %animation-finish;

    }
  }
  #animate-el-4 {
    margin-top: 10%;
    max-width: 15%;
    @include vendor(transform, translate(50px, 0));
    &.done {
      @extend %animation-finish;
    }
  }
  #animate-el-5 {
    margin-top: 7%;
    max-width: 15%;
    @include vendor(transform, translate(100px, 0));
    &.done {
      @extend %animation-finish;
    }
  }
}

/*--------------- Tablet version - portrait -----------*/
@include media-query(portrait) {

  .animate {
    max-width: 75%;
    margin: 0 auto;
  }

  #animate-el-1 {
    margin-top: 20%;
    max-width: 30%;
  }
  #animate-el-2 {
    padding-right: 10%;
    max-width: 50%;
    margin-top: -10%;
  }
  #animate-el-4 {
    max-width: 25%;
  }
  #animate-el-5 {
    max-width: 25%;
  }
  #animate-el-3 {
    display: none;
  }
}

/*--------------- Mobile version -----------*/
@include media-query(palm) {

  .animate {
    margin-bottom: 65px;
    li {
      vertical-align: middle;
      display: inline-block;
      float: none;
    }
    #animate-el-1, #animate-el-5, #animate-el-3 {
      display: none;
    }
    #animate-el-2 {
      padding-right: 0;
      max-width: 70%;
    }
    #animate-el-4 {
      margin-left: -20px;
      max-width: 30%;
    }
  }
}

/*TABLE*/
.tabular-info {
  width: 100%;
  background: $table-bg-color;
  th, td {
    font-size: 16px;
  }
  thead {
    background: $bg-color-theme-lightest;
    font-weight: bold;
    th {
      text-align: left;

    }
    #sorttable_sortrevind,
    #sorttable_sortfwdind,
    .icon-sortable {
      position: relative;
      display: inline-block;
      &:before, &:after {
        display: block;
        position: absolute;
        margin-left: 5px;
        vertical-align: middle;
      }
    }

    #sorttable_sortrevind,
    #sorttable_sortfwdind {
      height: 15px;
      vertical-align: top;
      &:after {
        top: 0;
      }

    }
    #sorttable_sortrevind {
      &:after {
        content: "\25B4";
      }
    }
    #sorttable_sortfwdind {
      &:after {
        content: "\25BE";
      }
    }

    .icon-sortable {
      height: 10px;
      &:before {
        content: "\25BE";
        top: 0;
      }
      &:after {
        content: "\25B4";
        bottom: 0;
      }
    }
    th.sorttable_sorted .icon-sortable, th.sorttable_sorted_reverse .icon-sortable {
      display: none;
    }
  }
  tr {
    border-top: 1px solid #d9d4da;
    &:first-child {
      border-top: none;
    }
  }

  td {
    color: $text-color-dark;

    a {
      color: $links-color-dark;
    }
  }
}

/*GOOGLE MAP*/
.google-map {
  width: 100%;
  height: 435px;
  border: 5px solid #292e34;
}

/*--------------------- desktop version ----------------*/
@include media-query(lap-and-up) {
  /*TABLE*/
  .tabular-info {
    th {
      cursor: pointer;
    }
    th, td {
      padding: 20px;
    }
    td:first-child {
      font-weight: bold;
    }
  }
}

/*--------------------- mobile version ----------------*/
@include media-query(palm) {
  /*TABLE*/
  .tabular-info {
    max-width: 100%;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabular-info table, .tabular-info thead, .tabular-info tbody, .tabular-info th, .tabular-info td, .tabular-info tr {
    display: block;
  }
  .tabular-info {
    tr {
      padding: 10px;
    }
    td {
      border: none;
      white-space: normal;
      text-align: left;

      &:before {
        width: 50%;
        display: inline-block;
        padding-right: 15px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        content: attr(data-title);
      }
    }
  }
  /*GOOGLE MAP*/
  .google-map {
    height: 300px;
  }
}