.tabular-info{
  width: 100%;
  background: $table-bg-color;
  thead{
    background: $bg-color-theme-lightest;

    font-weight: bold;
    th{
      text-align: left;

    }
    #sorttable_sortrevind,
    #sorttable_sortfwdind,
    .icon-sortable{
      position: relative;
      display: inline-block;
      &:before, &:after{
        display: block;
        position: absolute;
        margin-left: 5px;
        vertical-align: middle;
      }
    }

    #sorttable_sortrevind,
    #sorttable_sortfwdind{
      height: 15px;
       &:after{
         top: 0;
      }

    }
    #sorttable_sortrevind{
      &:after{
        content: "\25B4";
      }
    }
    #sorttable_sortfwdind{
      &:after{
        content: "\25BE";
      }
    }


    .icon-sortable{
      height: 10px;
      &:before{
        content: "\25BE";
        top: 0;
      }
      &:after{
        content: "\25B4";
        bottom: 0;
      }
    }
th.sorttable_sorted .icon-sortable, th.sorttable_sorted_reverse .icon-sortable{
  display: none;
}
  }
  tr{
    border-top: 1px solid #d9d4da;
    &:first-child{
      border-top: none;
    }
  }

  td{
    color: $text-color-dark;

    a{
      color: $links-color-dark;
    }
  }
}
.google-map{
  width: 100%;
  height: 435px;
  border: 5px solid #292e34;
}
@include media-query(lap-and-up){
  .tabular-info{
    th, td{
      padding: 20px;
    }
    td:first-child{
      font-weight: bold;
    }
  }
}
@include media-query(palm){
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabular-info table, .tabular-info thead, .tabular-infoe tbody, .tabular-info th, .tabular-info td, .tabular-info tr{
    display: block;
  }
  .tabular-info{
    tr{
      padding: 10px;
    }
     td {
      border: none;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
       &:before{
         position: absolute;
         top: 3px;
         left: 10px;
         width: 45%;
         padding-right: 10px;
         white-space: nowrap;
         text-align: left;
         font-weight: 700;
         content: attr(data-title);
       }
    }
  }
}