.content-wrapper{
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  h2{
    margin: $base-spacing-unit 0;
  }
}
.page-main-header{
  position: relative;
  background: $bg-color-theme-light;
  .content-wrapper{
    padding-top: $base-spacing-unit-medium ;
    padding-bottom: $base-spacing-unit-medium ;
  }

  .logo{
    a{
      color: $text-color-dark;
      text-transform: uppercase;
      &:hover{
        text-decoration: none;
      }
    }
  }
  h1{
    clear: both;
    max-width: 38%;
    margin-top: $base-spacing-unit-big;
    padding-left: 45px;
}
  canvas{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .button{
    color: $text-color-lightest;
    background: $button-bg-color;
    font-weight: bold;
    padding: 25px 35px;
    display: inline-block;
    border-radius: 5px;
    @include vendor(transition, all 0.8s);
    &:hover{
      background: lighten($button-bg-color, 10);

      text-decoration: none;
    }
  }

}

section{
  padding: 100px 0;
  .section-heading{
    text-align: center;
    margin-bottom: $base-spacing-unit-big;

  }
  .l-float-item{
    margin: $base-spacing-unit-medium 0;
  }
}
section:nth-of-type(2n+1){
  background-color: $bg-color-theme-dark;
  .section-heading{
    color: $heading-color-light;
  }
}
section:nth-of-type(2n){
  .section-heading{
    color: $heading-color-dark;
  }
}

footer{
  background: $additional-color-theme-dark;
  padding: 15px;
  color: $text-color-lightest;
}

@include media-query(portable){
  .content-wrapper{
    padding: 0 10px;
  }

}


