.content-wrapper{
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  h2{
    margin: $base-spacing-unit 0;
  }
}
.page-main-header{
  position: relative;
  background: $bg-color-theme-light;
  .content-wrapper{
    padding-top: $base-spacing-unit-medium ;
    padding-bottom: $base-spacing-unit-medium ;
  }

  .logo{
    text-align: left;
    max-width: 250px;
    min-height: 52px;
    margin: 0 auto;

      background: url("../img/ODL-logo.svg") no-repeat;
      background-size: 50px 50px;
      padding-left: 60px;
      color: $text-color-dark;
      text-transform: uppercase;

      &:hover{
        text-decoration: none;
      }
      strong{
        font-family: 'Arial Black', Arial, no-serif;
      }

  }
  h2{
    margin-top: $base-spacing-unit-big;

}
  canvas{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .button{
    color: $text-color-lightest;
    background: $button-bg-color;
    font-weight: bold;
    padding: 25px 35px;
    display: inline-block;
    border-radius: 5px;
    @include vendor(transition, all 0.8s);
    &:hover{
      background: lighten($button-bg-color, 10);

      text-decoration: none;
    }
  }

}

section{
  padding: 100px 0;
  .section-heading{
    text-align: center;
    margin-bottom: $base-spacing-unit-big;

  }
  .l-float-item{
    margin: $base-spacing-unit-medium 0;
  }
}
section:nth-of-type(2n+1){
  background-color: $bg-color-theme-dark;
  .section-heading{
    color: $heading-color-light;
  }
}
section:nth-of-type(2n){
  .section-heading{
    color: $heading-color-dark;
  }
}

footer{
  background: $additional-color-theme-dark;
  padding: 15px;
  color: $text-color-lightest;
}

/*---------------------------- Desktop & Tablet version ---------------------*/
@include media-query(lap-and-up){
  .page-main-header{
   .page-main-heading{
      clear: both;
      max-width: 35%;
      padding-left: 40px;
    }
    .content-wrapper{
      position: relative;

    }
    .button{
      position: absolute;
      right: 10px;
      top: 30px;
    }
  }
}
/*------------------------- Tablet portrait ----------------------*/
@include media-query(portrait) {
  .page-main-header {
    .page-main-heading {
      margin-top: 125px;
      font-size: 33px;
      max-width: 58%;
    }
  }
}
/*---------------------------- Tablet & Mobile version ---------------------*/
@include media-query(portable){
  .content-wrapper{
    padding: 0 10px;
  }

}
/*---------------------------- Mobile version ---------------------*/
@include media-query(palm){
  .page-main-header{
    .content-wrapper{
      text-align: center;
    }
    .page-main-heading{
      text-align: center;
      font-size: 28px;
    }
    .button{
      margin: 35px 0 45px 0;
    }
  }
}
