body {
  background: $bg-color-theme-lightest;
  overflow-x: hidden;
}

.content-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 100;
  h2 {
    margin: $base-spacing-unit 0;
  }
  /*---------------------------- Tablet & Mobile version*/
  @include media-query(portable) {
    padding: 0 10px;
  }

}

/*HEADER*/
.page-main-header {
  position: relative;
  background: $bg-color-theme-light;
  z-index: 0;
  .content-wrapper {
    padding-top: $base-spacing-unit-medium;
    padding-bottom: $base-spacing-unit-medium;
    /*---------------------------- Mobile version*/
    @include media-query(palm) {
      text-align: center;
    }

  }

  .logo {
    text-align: left;
    margin: 0 auto;
    color: $text-color-dark;
    text-transform: uppercase;
    max-width: 250px;
    position: relative;
    padding-left: 60px;
    strong {
      font-family: 'Arial Black', Arial, sans-serif;
    }
    &:before {
      content: "";
      background-color: #000;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-image: url("../img/sprite.svg");
      background-repeat: no-repeat;
      background-position: -148px -3px;
      position: absolute;
      left: 0;
      .no-svg & {
        background-image: url("../img/sprite.png");
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: -128px 0;
        background-size: cover;
        -ms-behavior: url("backgroundsize.min.htc");
        behavior: url("backgroundsize.min.htc");
      }
    }

  }

  .main-intro {
    margin-top: $base-spacing-unit-big;
    /*------------------------- Tablet & Desktop */
    @include media-query(lap-and-up) {
      clear: both;
      max-width: 35%;
      padding-left: 40px;
    }
    /*------------------------- Tablet portrait */
    @include media-query(portrait) {
      margin-top: 125px;
      font-size: 33px;
      max-width: 58%;
    }
    /*---------------------------- Mobile version */
    @include media-query(palm) {
      text-align: center;
      font-size: 28px;
    }

  }

}

/*SECTION*/
.section-heading {
  text-align: center;
  margin-bottom: $base-spacing-unit-big;
}

.theme-dark {
  background-color: $bg-color-theme-dark;
  .section-heading {
    color: $heading-color-light;
  }
}

.theme-light {
  background-color: $bg-color-theme-lightest;
  .section-heading {
    color: $heading-color-dark;
  }
}

/*FOOTER*/
.section-footer {
  background: $bg-color-theme-darker;
  padding: 15px;
  color: $text-color-lightest;

  h2 {
    font-size: 18px;
    margin: 0;
    &:before {
      content: "";
      display: block;
      width: 75px;
      height: 70px;
      background: url('../img/sprite.svg') no-repeat -62px 0 ;
      .no-svg & {
        position: relative;
        background: url('../img/sprite.png') -62px 0 no-repeat;
        background-size: cover;
        height: 60px;
        margin-bottom: 10px;
        -ms-behavior: url("backgroundsize.min.htc");
        behavior: url("backgroundsize.min.htc");
      }
    }

  }
}








