.l-hidden {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.l-float-left {
  float: left;
}

.l-float-right {
  float: right;
}

.l-three-in-row {
  .l-row-item {
    width: 33.3%;
    margin: $base-spacing-unit-medium 0;
    padding-right: $base-spacing-unit-medium;
  }
  .l-row-item:nth-of-type(3n) {
    padding-right: 0;
  }
}

.l-two-in-row {

  .l-row-item {
    margin: $base-spacing-unit-medium 0;
    &:first-child {
      width: 60%;
      padding-right: 45px;
    }
    &:nth-child(2) {
      width: 40%;
    }
  }
}

@include media-query(palm) {
  .l-float-left {
    float: none;
  }
  .l-float-right {
    float: none;
  }
  .l-three-in-row,
  .l-two-in-row {
    .l-row-item:nth-child(n) {
      width: 100%;
      padding-right: 0;
    }
  }
}

.l-pv100 {
  padding: 100px 0;
}

.l-ph-100 {
  padding-left: 100px;
  padding-right: 100px;
  @include media-query(portable) {
    padding-left: 0;
    padding-right: 0;
  }
}

