
.animate {
  max-width: 100%;
  li {
    overflow: hidden
  }
  img {
    max-width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;

  }
  div {
    position: relative;
    &:before{
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 5px;
      right: 5px;
      bottom: 15px;
      background: rgba(20, 22, 26, 0.75);
      z-index: -1;
    }
  }

}
.animation-bg .animate{
  display: none;
}

/*-------------------- Tablet & Desktop version*/
@include media-query(lap-and-up) {
  @-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
  }
/*
  @include keyframes(spaceboots) {
    0% {
      @include vendor(transform, translate(2px, 1px) rotate(0deg));
    }
    10% {
      @include vendor(transform, translate(-1px, -2px) rotate(-1deg));
    }
    20% {
      @include vendor(transform, translate(-3px, 0px) rotate(1deg));
    }
    30% {
      @include vendor(transform, translate(0px, 2px) rotate(0deg));
    }
    40% {
      @include vendor(transform, translate(1px, -1px) rotate(1deg));
    }
    50% {
      @include vendor(transform, translate(-1px, 2px) rotate(-1deg));
    }
    60% {
      @include vendor(transform, translate(-3px, 1px) rotate(0deg));
    }
    70% {
      @include vendor(transform, translate(2px, 1px) rotate(-1deg));
    }
    80% {
      @include vendor(transform, translate(-1px, -1px) rotate(1deg));
    }
    90% {
      @include vendor(transform, translate(2px, 2px) rotate(0deg));
    }
    100% {
      @include vendor(transform, translate(1px, -2px) rotate(-1deg));
    }
  }*/
  .hover-on .done.shake:hover {
    @include vendor(animation, spaceboots 0.8s linear infinite);
    -webkit-transform-origin: 50% 50%;
  }
  .hover-on #animate-el-1 {
    &.done:hover {
      @include vendor(transform, rotate(360deg));
    }
  }
  %animation-finish {
    @include vendor(transform, translate(0, 0));
  }
  .animate{
    li {
      float: left;
      @include vendor-value(transition, transform 2s, opacity 2s);
    }
  }
  .fade-in {
    li {
      padding-right: 5%;
      opacity: 0;
      &.done{
        opacity: 1;
      }
    }
  }
  #animate-el-1 {
    margin-top: 5%;
    margin-left: 6%;
    max-width: 18%;
    opacity: 0;
    &.done {
      opacity: 1;
    }
  }

  #animate-el-2 {
    clear: right;
    max-width: 25%;
    @include vendor(transform, translate(-50px, 0));
    &.done {
      @extend %animation-finish;
    }
  }
  #animate-el-3 {
    position: relative;
    margin-top: -20%;
    max-width: 45%;
    @include vendor(transform, translate(0, -100px));
    &.done {
      @extend %animation-finish;

    }
  }

  #animate-el-4 {
    margin-top: 10%;
    max-width: 15%;
    @include vendor(transform, translate(50px, 0));
    &.done {
      @extend %animation-finish;
    }
  }
  #animate-el-5 {
    margin-top: 7%;
    max-width: 15%;
    @include vendor(transform, translate(100px, 0));
    &.done {
      @extend %animation-finish;
    }
  }
  #animate-el-6 {
    @include vendor(transform, translate(0, 200px));
    &.done {
      @extend %animation-finish;
    }
  }
  #animate-el-7 {
    margin-top: 50px;
    margin-left: -50px;
    @include vendor(transform, translate(0, 200px));
    &.done {
      @extend %animation-finish;
    }
  }
}

/*--------------- Tablet version - portrait*/
@include media-query(portrait) {

  .animate {
    max-width: 75%;
    margin: 0 auto;
  }

  #animate-el-1 {
    margin-top: 20%;
    max-width: 30%;
  }
  #animate-el-2 {
    padding-right: 10%;
    max-width: 50%;
    margin-top: -10%;
  }
  #animate-el-4 {
    max-width: 25%;
  }
  #animate-el-5 {
    max-width: 25%;
  }
  #animate-el-3 {
    display: none;
  }
}

/*--------------- Mobile version*/
@include media-query(palm) {
  .animate {
    max-width: 50%;
    margin: 0 auto 30px auto;
    li {
      vertical-align: middle;
      display: inline-block;
      float: none;
      position: relative;
    }
  }
  #animate-el-2 div:before, #animate-el-4 div:before,  {
    background: #404045;
  }
  #animate-el-2{
    z-index: -3;
  }
  #animate-el-4{
    z-index: 0;
  }
  #animate-el-1, #animate-el-5, #animate-el-3 {
    display: none;
  }
  #animate-el-2 {
    padding-right: 0;
    max-width: 70%;
  }
  #animate-el-4 {
    margin-left: -30px;
    max-width: 30%;
  }

}
/*------------ Desktop wide -------------*/
@include media-query(desk-wide){
  .animation-bg{
    position: relative;
    z-index: -2;
    padding-bottom: 200px;
    .animate{
      display: block;
      position: absolute;
      left: 50px;
      li{
        @include vendor(transition-duration, 1s);
        div:before{
          background: #333;
        }
      }
    }
  }

}
/*CANVAS*/

canvas {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
  @include media-query(palm){
    .page-main-header &{
      display: none;
    }

  }
}

.unsupported img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}



