/*TABLE*/
.tabular-info {
  width: 100%;
  background: $table-bg-color;
  th, td {
    font-size: 16px;
    padding: 20px;
  }
  thead {
    background: $bg-color-theme-lightest;
    font-weight: bold;
    th {
      text-align: left;
      cursor: pointer;
    }
    th.sorttable_sorted .icon-sortable, th.sorttable_sorted_reverse .icon-sortable {
      display: none;
    }
  }
  tr {
    border-top: 1px solid #d9d4da;
    &:first-child {
      border-top: none;
    }
  }
  td {
    color: $text-color-dark;
    &:first-child{
      font-weight: bold;
    }

    a {
      color: $links-color-dark;
    }
  }

  /*--------------------- mobile version*/
  @include media-query(palm) {
    max-width: 100%;

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    table, thead, tbody, th, td, tr {
      display: block;
    }

    tr {
      padding: 10px;
    }
    th,td{
      padding: 0;
    }
    td {

      border: none;
      white-space: normal;
      text-align: left;
      &:first-child{
        font-weight: normal;
      }
      span, a{
        display: inline-block;
        width: 50%;
      }
      &:before {
        vertical-align: top;
        width: 50%;
        display: inline-block;
        padding-right: 15px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        content: attr(data-title);
      }
    }

  }
}

/*TABLE ICONS*/
#sorttable_sortrevind,
#sorttable_sortfwdind,
.icon-sortable {
  position: relative;
  display: inline-block;
  &:before, &:after {
    display: block;
    position: absolute;
    margin-left: 5px;
    vertical-align: middle;
  }
}

#sorttable_sortrevind,
#sorttable_sortfwdind {
  height: 15px;
  vertical-align: top;
  &:after {
    top: 0;
  }

}

.icon-sortable:after,
#sorttable_sortrevind:after {
  content: "\25B4";
}

.icon-sortable:before,
#sorttable_sortfwdind:after {
  content: "\25BE";
}

.icon-sortable {
  height: 10px;
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}




