.page-main-header {
  padding: 20px 0; }
  .page-main-header .logo {
    float: none;
    margin: 0; }
  .page-main-header .main-intro {
    float: none;
    max-width: none;
    padding-left: 0; }

canvas {
  position: static;
  max-width: 1170px;
  margin: 0 auto; }

.animate {
  display: none;
  overflow: hidden; }

.l-three-in-row .l-row-item {
  padding-right: 0; }
  .l-three-in-row .l-row-item p, .l-three-in-row .l-row-item h2 {
    padding-right: 15px; }

.no-svg .section-footer h2:before {
  background: url("../img/sprite.png") -120px 0 no-repeat;
  background-size: auto; }

.no-svg .page-main-header .logo:before {
  background-position: -264px -2px;
  background-size: auto; }
