/*Modules*/
/*SPACING*/
/*COLORS*/
/*Partials*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\
    $CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf:after {
  content: "";
  display: table;
  clear: both; }

html, body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

strong {
  font-weight: bold; }

body {
  font-family: Arial, no-serif;
  font-size: 18px;
  color: #c5bec6;
  background: white;
  line-height: 1.4em; }

/*----- Main headings---------*/
h1 {
  font-size: 33px;
  color: white;
  font-weight: bold;
  line-height: 1.4em; }

h2 {
  font-size: 22px;
  line-height: 1.4em;
  color: white;
  font-weight: bold; }

.section-heading {
  font-size: 28px;
  line-height: 1.2em;
  font-weight: bold; }

/*----- Paragraphs ----------*/
/*----- Links ----------*/
a {
  text-decoration: none;
  color: #63c3b5; }
  a:hover {
    text-decoration: underline; }

@media (min-width: 768px) {
  .l-float-list li,
  .l-float-item {
    float: left; }

  .l-float-item-right {
    float: right; }

  .l-three-in-row li {
    width: 33.3%;
    padding-right: 30px; }
  .l-three-in-row li:nth-of-type(3n) {
    padding-right: 0; }

  .l-two-in-row .l-float-item:first-child {
    width: 60%;
    padding-right: 45px; }
  .l-two-in-row .l-float-item:nth-child(2) {
    width: 40%; } }
@media (min-width: 1025px) {
  .content-wrapper.l-additional-gutter {
    padding-left: 110px;
    padding-right: 110px; } }
.content-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px; }
  .content-wrapper h2 {
    margin: 20px 0; }

.page-main-header {
  position: relative;
  background: #c5bec6; }
  .page-main-header .content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px; }
  .page-main-header .logo a {
    color: black;
    text-transform: uppercase; }
    .page-main-header .logo a:hover {
      text-decoration: none; }
  .page-main-header h1 {
    clear: both;
    max-width: 38%;
    margin-top: 60px;
    padding-left: 45px; }
  .page-main-header canvas {
    position: absolute;
    width: 100%;
    height: 100%; }
  .page-main-header .button {
    color: white;
    background: #2a6c62;
    font-weight: bold;
    padding: 25px 35px;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }
    .page-main-header .button:hover {
      background: #389183;
      text-decoration: none; }

section {
  padding: 100px 0; }
  section .section-heading {
    text-align: center;
    margin-bottom: 60px; }
  section .l-float-item {
    margin: 30px 0; }

section:nth-of-type(2n+1) {
  background-color: #3a424d; }
  section:nth-of-type(2n+1) .section-heading {
    color: white; }

section:nth-of-type(2n) .section-heading {
  color: black; }

footer {
  background: #292d36;
  padding: 15px;
  color: white; }

@media (max-width: 1024px) {
  .content-wrapper {
    padding: 0 10px; } }
#animate-el-2.done, #animate-el-3.done, #animate-el-4.done, #animate-el-5.done {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

/*ANIMATED ELEMENTS*/
@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    -moz-transform: translate(2px, 1px) rotate(0deg);
    -ms-transform: translate(2px, 1px) rotate(0deg);
    -o-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg); }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
    -ms-transform: translate(-1px, -2px) rotate(-1deg);
    -o-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -o-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
    -moz-transform: translate(0px, 2px) rotate(0deg);
    -ms-transform: translate(0px, 2px) rotate(0deg);
    -o-transform: translate(0px, 2px) rotate(0deg);
    transform: translate(0px, 2px) rotate(0deg); }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    -moz-transform: translate(1px, -1px) rotate(1deg);
    -ms-transform: translate(1px, -1px) rotate(1deg);
    -o-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
    -ms-transform: translate(-1px, 2px) rotate(-1deg);
    -o-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    -moz-transform: translate(-3px, 1px) rotate(0deg);
    -ms-transform: translate(-3px, 1px) rotate(0deg);
    -o-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    -moz-transform: translate(2px, 1px) rotate(-1deg);
    -ms-transform: translate(2px, 1px) rotate(-1deg);
    -o-transform: translate(2px, 1px) rotate(-1deg);
    transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    -o-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
    -moz-transform: translate(2px, 2px) rotate(0deg);
    -ms-transform: translate(2px, 2px) rotate(0deg);
    -o-transform: translate(2px, 2px) rotate(0deg);
    transform: translate(2px, 2px) rotate(0deg); }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    -moz-transform: translate(1px, -2px) rotate(-1deg);
    -ms-transform: translate(1px, -2px) rotate(-1deg);
    -o-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }

@-moz-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    -moz-transform: translate(2px, 1px) rotate(0deg);
    -ms-transform: translate(2px, 1px) rotate(0deg);
    -o-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg); }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
    -ms-transform: translate(-1px, -2px) rotate(-1deg);
    -o-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -o-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
    -moz-transform: translate(0px, 2px) rotate(0deg);
    -ms-transform: translate(0px, 2px) rotate(0deg);
    -o-transform: translate(0px, 2px) rotate(0deg);
    transform: translate(0px, 2px) rotate(0deg); }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    -moz-transform: translate(1px, -1px) rotate(1deg);
    -ms-transform: translate(1px, -1px) rotate(1deg);
    -o-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
    -ms-transform: translate(-1px, 2px) rotate(-1deg);
    -o-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    -moz-transform: translate(-3px, 1px) rotate(0deg);
    -ms-transform: translate(-3px, 1px) rotate(0deg);
    -o-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    -moz-transform: translate(2px, 1px) rotate(-1deg);
    -ms-transform: translate(2px, 1px) rotate(-1deg);
    -o-transform: translate(2px, 1px) rotate(-1deg);
    transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    -o-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
    -moz-transform: translate(2px, 2px) rotate(0deg);
    -ms-transform: translate(2px, 2px) rotate(0deg);
    -o-transform: translate(2px, 2px) rotate(0deg);
    transform: translate(2px, 2px) rotate(0deg); }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    -moz-transform: translate(1px, -2px) rotate(-1deg);
    -ms-transform: translate(1px, -2px) rotate(-1deg);
    -o-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }

@-ms-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    -moz-transform: translate(2px, 1px) rotate(0deg);
    -ms-transform: translate(2px, 1px) rotate(0deg);
    -o-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg); }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
    -ms-transform: translate(-1px, -2px) rotate(-1deg);
    -o-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -o-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
    -moz-transform: translate(0px, 2px) rotate(0deg);
    -ms-transform: translate(0px, 2px) rotate(0deg);
    -o-transform: translate(0px, 2px) rotate(0deg);
    transform: translate(0px, 2px) rotate(0deg); }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    -moz-transform: translate(1px, -1px) rotate(1deg);
    -ms-transform: translate(1px, -1px) rotate(1deg);
    -o-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
    -ms-transform: translate(-1px, 2px) rotate(-1deg);
    -o-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    -moz-transform: translate(-3px, 1px) rotate(0deg);
    -ms-transform: translate(-3px, 1px) rotate(0deg);
    -o-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    -moz-transform: translate(2px, 1px) rotate(-1deg);
    -ms-transform: translate(2px, 1px) rotate(-1deg);
    -o-transform: translate(2px, 1px) rotate(-1deg);
    transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    -o-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
    -moz-transform: translate(2px, 2px) rotate(0deg);
    -ms-transform: translate(2px, 2px) rotate(0deg);
    -o-transform: translate(2px, 2px) rotate(0deg);
    transform: translate(2px, 2px) rotate(0deg); }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    -moz-transform: translate(1px, -2px) rotate(-1deg);
    -ms-transform: translate(1px, -2px) rotate(-1deg);
    -o-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }

@keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    -moz-transform: translate(2px, 1px) rotate(0deg);
    -ms-transform: translate(2px, 1px) rotate(0deg);
    -o-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg); }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
    -ms-transform: translate(-1px, -2px) rotate(-1deg);
    -o-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -o-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
    -moz-transform: translate(0px, 2px) rotate(0deg);
    -ms-transform: translate(0px, 2px) rotate(0deg);
    -o-transform: translate(0px, 2px) rotate(0deg);
    transform: translate(0px, 2px) rotate(0deg); }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    -moz-transform: translate(1px, -1px) rotate(1deg);
    -ms-transform: translate(1px, -1px) rotate(1deg);
    -o-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
    -ms-transform: translate(-1px, 2px) rotate(-1deg);
    -o-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    -moz-transform: translate(-3px, 1px) rotate(0deg);
    -ms-transform: translate(-3px, 1px) rotate(0deg);
    -o-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    -moz-transform: translate(2px, 1px) rotate(-1deg);
    -ms-transform: translate(2px, 1px) rotate(-1deg);
    -o-transform: translate(2px, 1px) rotate(-1deg);
    transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    -o-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
    -moz-transform: translate(2px, 2px) rotate(0deg);
    -ms-transform: translate(2px, 2px) rotate(0deg);
    -o-transform: translate(2px, 2px) rotate(0deg);
    transform: translate(2px, 2px) rotate(0deg); }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    -moz-transform: translate(1px, -2px) rotate(-1deg);
    -ms-transform: translate(1px, -2px) rotate(-1deg);
    -o-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }

.done.shake:hover {
  -webkit-animation: spaceboots 0.8s linear infinite;
  -moz-animation: spaceboots 0.8s linear infinite;
  -ms-animation: spaceboots 0.8s linear infinite;
  -o-animation: spaceboots 0.8s linear infinite;
  animation: spaceboots 0.8s linear infinite;
  -webkit-transform-origin: 50% 50%; }

.animate {
  max-width: 100%; }

.animate li {
  float: left;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  padding-right: 5%; }
  .animate li img {
    max-width: 100%; }

#animate-el-1 {
  margin-top: 5%;
  margin-left: 6%;
  max-width: 18%;
  opacity: 0; }
  #animate-el-1.done {
    opacity: 1; }
    #animate-el-1.done:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg); }

#animate-el-2 {
  clear: right;
  max-width: 25%;
  -webkit-transform: translate(-50px, 0);
  -moz-transform: translate(-50px, 0);
  -ms-transform: translate(-50px, 0);
  -o-transform: translate(-50px, 0);
  transform: translate(-50px, 0); }

#animate-el-3 {
  position: relative;
  margin-top: -20%;
  max-width: 45%;
  -webkit-transform: translate(0, -100px);
  -moz-transform: translate(0, -100px);
  -ms-transform: translate(0, -100px);
  -o-transform: translate(0, -100px);
  transform: translate(0, -100px); }

#animate-el-4 {
  margin-top: 10%;
  max-width: 15%;
  -webkit-transform: translate(50px, 0);
  -moz-transform: translate(50px, 0);
  -ms-transform: translate(50px, 0);
  -o-transform: translate(50px, 0);
  transform: translate(50px, 0); }

#animate-el-5 {
  margin-top: 7%;
  max-width: 15%;
  -webkit-transform: translate(100px, 0);
  -moz-transform: translate(100px, 0);
  -ms-transform: translate(100px, 0);
  -o-transform: translate(100px, 0);
  transform: translate(100px, 0); }

@media (max-width: 800px) {
  .animate {
    margin-left: 85px; }

  .page-main-header h1 {
    font-size: 33px !important;
    max-width: 435px; }

  #animate-el-1 {
    margin-top: 10%;
    max-width: 30%; }

  #animate-el-2 {
    max-width: 50%; }

  #animate-el-4 {
    max-width: 25%; }

  #animate-el-5 {
    max-width: 25%; }

  #animate-el-3 {
    display: none; } }
@media (max-width: 767px) {
  .page-main-header .content-wrapper {
    text-align: center; }
  .page-main-header h1 {
    width: 100%;
    max-width: 100%;
    text-align: center; }

  .animate {
    margin-left: 155px; }
    .animate #animate-el-1, .animate #animate-el-5 {
      display: none; }
    .animate #animate-el-2 {
      padding-right: 0;
      max-width: 60%; }
    .animate #animate-el-4 {
      margin-left: -20px;
      max-width: 40%; } }
/*TABLE*/
.tabular-info {
  width: 100%;
  background: #efeaf0; }
  .tabular-info th, .tabular-info td {
    font-size: 16px; }
  .tabular-info thead {
    background: white;
    font-weight: bold; }
    .tabular-info thead th {
      text-align: left; }
    .tabular-info thead #sorttable_sortrevind,
    .tabular-info thead #sorttable_sortfwdind,
    .tabular-info thead .icon-sortable {
      position: relative;
      display: inline-block; }
      .tabular-info thead #sorttable_sortrevind:before, .tabular-info thead #sorttable_sortrevind:after,
      .tabular-info thead #sorttable_sortfwdind:before,
      .tabular-info thead #sorttable_sortfwdind:after,
      .tabular-info thead .icon-sortable:before,
      .tabular-info thead .icon-sortable:after {
        display: block;
        position: absolute;
        margin-left: 5px;
        vertical-align: middle; }
    .tabular-info thead #sorttable_sortrevind,
    .tabular-info thead #sorttable_sortfwdind {
      height: 15px; }
      .tabular-info thead #sorttable_sortrevind:after,
      .tabular-info thead #sorttable_sortfwdind:after {
        top: 0; }
    .tabular-info thead #sorttable_sortrevind:after {
      content: "\25B4"; }
    .tabular-info thead #sorttable_sortfwdind:after {
      content: "\25BE"; }
    .tabular-info thead .icon-sortable {
      height: 10px; }
      .tabular-info thead .icon-sortable:before {
        content: "\25BE";
        top: 0; }
      .tabular-info thead .icon-sortable:after {
        content: "\25B4";
        bottom: 0; }
    .tabular-info thead th.sorttable_sorted .icon-sortable, .tabular-info thead th.sorttable_sorted_reverse .icon-sortable {
      display: none; }
  .tabular-info tr {
    border-top: 1px solid #d9d4da; }
    .tabular-info tr:first-child {
      border-top: none; }
  .tabular-info td {
    color: black; }
    .tabular-info td a {
      color: #2c6a5f; }

/*GOOGLE MAP*/
.google-map {
  width: 100%;
  height: 435px;
  border: 5px solid #292e34; }

/*--------------------- desktop version ----------------*/
@media (min-width: 768px) {
  /*TABLE*/
  .tabular-info th {
    cursor: pointer; }
  .tabular-info th, .tabular-info td {
    padding: 20px; }
  .tabular-info td:first-child {
    font-weight: bold; } }
/*--------------------- mobile version ----------------*/
@media (max-width: 767px) {
  /*TABLE*/
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  .tabular-info table, .tabular-info thead, .tabular-infoe tbody, .tabular-info th, .tabular-info td, .tabular-info tr {
    display: block; }

  .tabular-info tr {
    padding: 10px; }
  .tabular-info td {
    border: none;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left; }
    .tabular-info td:before {
      position: absolute;
      top: 3px;
      left: 10px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: 700;
      content: attr(data-title); } }
