/*Modules*/
/*SPACING*/
/*COLORS*/
/*Partials*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/*
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/*
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/*
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    $CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf:after {
  content: "";
  display: table;
  clear: both; }

html, body {
  -webkit-text-size-adjust: 100%; }

body {
  font-family: Arial, no-serif;
  font-size: 16px;
  color: #ddd;
  background: #fff;
  line-height: 1.4em; }

/*----- Main headings---------*/
h1, .page-main-heading {
  font-size: 32px;
  color: white;
  font-weight: bold;
  line-height: 1.4em; }

h2, .secondary-heading {
  font-size: 20px;
  line-height: 1.4em;
  color: white;
  font-weight: bold; }

.section-heading {
  font-size: 24px;
  line-height: 1.2em;
  font-weight: bold; }

/*----- Paragraphs ----------*/
/*----- Links ----------*/
a {
  text-decoration: none;
  color: #62c4b5; }
  a:hover {
    text-decoration: underline; }

@media (min-width: 768px) {
  .l-float-list li,
  .l-float-item {
    float: left; }

  .l-float-item-right {
    float: right; }

  .l-three-in-row li {
    width: 33.3%;
    padding-right: 30px; }
  .l-three-in-row li:nth-of-type(3n) {
    padding-right: 0; }

  .l-two-in-row .l-float-item:first-child {
    width: 60%;
    padding-right: 45px; }
  .l-two-in-row .l-float-item:nth-child(2) {
    width: 40%; } }
@media (min-width: 1025px) {
  .l-additional-gutter {
    padding-left: 100px;
    padding-right: 100px; } }
.content-wrapper {
  max-width: 1160px;
  margin: 0 auto; }
  .content-wrapper h2 {
    margin: 20px 0; }

header {
  background: #c5bec6;
  padding: 30px 0; }
  header .logo a {
    color: #000;
    text-transform: uppercase; }
    header .logo a:hover {
      text-decoration: none; }
  header h1 {
    clear: both;
    max-width: 390px; }
  header .button {
    color: #fff;
    background: #2a6c62;
    font-weight: bold;
    padding: 25px 35px;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }
    header .button:hover {
      background: #389183;
      text-decoration: none; }

section {
  padding: 100px 0; }
  section .section-heading {
    text-align: center;
    margin-bottom: 60px; }
  section .l-float-item {
    margin: 30px 0; }

section:nth-of-type(2n+1) {
  background-color: #3a424d; }
  section:nth-of-type(2n+1) .section-heading {
    color: #fff; }

section:nth-of-type(2n) .section-heading {
  color: #000; }

footer {
  vertical-align: middle;
  background: #292d36;
  padding: 15px;
  color: #fff; }

@media (max-width: 1024px) {
  .content-wrapper {
    padding: 0 10px; } }
.tabular-info {
  width: 100%;
  background: #efeaf0; }
  .tabular-info thead {
    background: #fff;
    font-weight: bold; }
    .tabular-info thead th {
      text-align: left; }
    .tabular-info thead .icon-sortable {
      position: relative;
      display: inline-block;
      height: 10px; }
      .tabular-info thead .icon-sortable:before, .tabular-info thead .icon-sortable:after {
        display: block;
        position: absolute;
        margin-left: 5px;
        vertical-align: middle; }
      .tabular-info thead .icon-sortable:before {
        content: "\25BE";
        top: 0; }
      .tabular-info thead .icon-sortable:after {
        content: "\25B4";
        bottom: 0; }
    .tabular-info thead th.sorttable_sorted .icon-sortable, .tabular-info thead th.sorttable_sorted_reverse .icon-sortable {
      display: none; }
  .tabular-info tr {
    border-top: 1px solid #d9d4da; }
    .tabular-info tr:first-child {
      border-top: none; }
  .tabular-info td {
    color: #000; }
    .tabular-info td a {
      color: #2c6a5f; }

.google-map {
  width: 100%;
  height: 435px;
  border: 5px solid #292e34; }

@media (min-width: 768px) {
  .tabular-info th, .tabular-info td {
    padding: 20px; }
  .tabular-info td:first-child {
    font-weight: bold; } }
@media (max-width: 767px) {
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  .tabular-info table, .tabular-info thead, .tabular-infoe tbody, .tabular-info th, .tabular-info td, .tabular-info tr {
    display: block; }

  .tabular-info tr {
    padding: 10px; }
  .tabular-info td {
    border: none;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left; }
    .tabular-info td:before {
      position: absolute;
      top: 3px;
      left: 10px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: 700;
      content: attr(data-title); } }
