.animate {
  display: none; }

.unsupported img {
  max-width: 100%;
  display: block;
  margin: 20px auto; }

.page-main-header {
  padding: 20px 0; }
  .page-main-header .logo {
    float: none;
    margin: 0; }
  .page-main-header .main-intro {
    float: none;
    max-width: none;
    padding-left: 0; }

.tabular-info thead .icon-sortable:before, .tabular-info thead .icon-sortable:after {
  display: none; }

.page-main-header canvas {
  position: static;
  max-width: 1170px;
  margin: 0 auto; }


.google-map {
  overflow: hidden;
  position: relative;
  
}
.google-map img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -565px;
    margin-top: -218px;  
  }
