.animate {
  display: none; }

noscript img {
  max-width: 100%; }

.page-main-header .main-intro {
  max-width: none; }

.tabular-info thead .icon-sortable:before, .tabular-info thead .icon-sortable:after {
  display: none; }

#map-canvas {
  display: none; }
