@media print {
  body, section, footer {
    background: #fff;
    color: #000;
    a {
      text-decoration: underline;
      color: #000;
    }
  }
  .page-main-header {
    h1 {
      max-width: 100%;
      color: #000;
    }
    .button {
      display: none;
    }
  }
  .animate {
    display: none;
  }
  section {
    padding: 25px 0;
    page-break-inside: avoid;
  }
}