@media print {
  body, section, footer {
    background: #fff;
    color: #000;
    font-size: 14px;
  }
  body a, section a, footer a {
    text-decoration: underline;
    color: #000;
  }

  .page-main-header .main-intro {
    max-width: 100%;
    color: #000;
    font-size: 18px;
    page-break-after: avoid;
  }
  .page-main-header .btn {
    display: none;
  }

  .animate {
    display: none;
  }

  section {
    padding: 25px 0;
    page-break-inside: avoid;
  }
  canvas {
    display: none;
  }
  h2,
  .content-box.theme-dark .section-heading,
  .section-footer {
    color: #000;
  }
}