@mixin vendor($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

$palm-end: $lap-start - 1px;
$lap-end:  $desk-start - 1px;
$portrait-end: $landscape-start -1px;

@mixin media-query($media-query){

  @if $media-query == palm{
    @media  (max-width:$palm-end) { @content; }
  }

  @if $media-query == lap{
    @media (min-width:$lap-start) and (max-width:$lap-end) { @content; }
  }
  @if $media-query == portrait{
    @media (min-width:$lap-start) and (max-width: 960px) { @content; }
  }
  @if $media-query == landscape{
    @media (min-width: $landscape-start) and (max-width:$lap-end) { @content; }
  }
  @if $media-query == lap-and-up{
    @media (min-width:$lap-start) { @content; }
  }

  @if $media-query == portable{
    @media  (max-width:$lap-end) { @content; }
  }

  @if $media-query == desk{
    @media  (min-width:$desk-start) { @content; }
  }

}


