/*SPACING*/
$base-spacing-unit: 20px;
$base-spacing-unit-medium: 30px;
$base-spacing-unit-big: 60px;


/*COLORS*/
$base-color-theme-dark: #3a424d;
$additional-color-theme-dark: #292d36;

$color-white: #fff;
$color-black: #000;
$color-grey-blue: #3a424d;
$color-grey-blue-dark:  #292d36;
$color-grey: #c5bec6;
$color-grey-light: #efeaf0;
$color-turquoise: #62c4b5;


$links-color: $color-turquoise;

$heading-color-light: $color-white;
$heading-color-dark: $color-black;

$bg-color-theme-dark: $color-grey-blue;
$bg-color-theme-light: $color-grey;